<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.platypii.baseline"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.barometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".JumpsActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".JumpActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".SensorActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".AudibleSettingsActivity"
            android:label="@string/title_activity_audible_settings"/>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".AltimeterActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
